$background: desaturate(#187, 50%);
$text-color: complement($background);
$highlighted-text-color: lighten($text-color, 20%);
$darkened-text-color: darken($text-color, 20%);
$mix-text-color: mix(#187, #444);
